---
import { Pagination } from '../../components/Pagination.jsx';
import PostCard from '../../components/PostCard.astro';
import Layout from '../../layouts/Layout.astro';
import { getCollection, CollectionEntry } from 'astro:content';

//utils import
import { filterArticlePost } from '../../utils/functions';
import { ArticleSeperator } from '../../components/ArticleSeperator.jsx';

export async function getStaticPaths({ paginate }) {
    const allArticles = await getCollection('articles');
    const formatedPosts: CollectionEntry<'articles'>[] = filterArticlePost(allArticles, {
        sortByDate: true,
    });

    return paginate(formatedPosts, {
        pageSize: 2,
    });
}

const { page } = Astro.props;
---

<Layout title='All posts'>
    <section aria-label='All posts'>
        <div class='mt-20 flex items-center justify-center'>
            <ArticleSeperator />
        </div>
        <div class='flex sm:flex-col gap-12 sm:items-center items-start justify-center mt-24'>
            {page.data.map((post) => <PostCard data={post.data} url={post.slug} />)}
        </div>
        <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </section>
</Layout>
