---
import { Pagination } from '../../components/Pagination.jsx';
import PostCard from '../../components/PostCard.astro';
import Layout from '../../layouts/Layout.astro';
import { getCollection, CollectionEntry } from 'astro:content';

//utils import
import { filterArticlePost } from '../../utils/functions';
import { Articlefilter } from '../../components/Articlefilter.jsx';

export async function getStaticPaths({ paginate }) {
    const allArticles = await getCollection('articles');
    const formatedPosts: CollectionEntry<'articles'>[] = filterArticlePost(allArticles, {
        sortByDate: true,
    });

    return paginate(formatedPosts, {
        pageSize: 2,
    });
}

const { page } = Astro.props;
---

<Layout title='All posts'>
    <section class='' aria-label='All posts'>
        <Articlefilter />
        <div class='flex sm:flex-col gap-20 items-center justify-center m-5'>
            {page.data.map((post) => <PostCard data={post.data} url={post.slug} />)}
        </div>
        <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </section>
</Layout>
