---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Docs'>
  <ul>
    <li>
      <a class='text-white' href='./posts/cookies/'>
        Learn more about Cookies!</a
      >
    </li>
  </ul>
</Layout>
